/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
	/* roboto-700 - bold- latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Roboto-700/roboto-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/Roboto-700/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto-700/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto-700/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto-700/roboto-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto-700/roboto-v15-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}	

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v15-latin/roboto-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v15-latin/roboto-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

svg { height: 100%; width: 100%}

/* Index */
*{
	font-family: 'Roboto';

}
body{
	background-color:#f1f1f1;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}


/*Navegacion*/
.nav{
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;

	-webkit-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	-moz-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);


}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009688;
}

.nav li {
    float: left;

}

.nav li a {
    display: block;
    color: white;
    text-align: center;
   	font-weight: 500;
    text-transform: uppercase;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
	transition: ease 1s;
    background-color: #4DB6AC;
    color: white;
}

.nav .active {
    background-color: white;
    color: #009688;
    transition: .5s;

}

.nav #administracion{
	float: right;
}

/*Estadio*/
.stadium{
	width: 62%;
	height: 642px;
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
	background-color: #ffffff;
	text-align: center;

	-webkit-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	-moz-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
}
/*Ticket*/
.ticket{
	width: 34%;
	height: 642px;
	float: right;
	margin-right: 20px;
	background-color: #ffffff;

	text-align: center;
	margin-bottom: 10px;
	margin-left: 0px;

	-webkit-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	-moz-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
}

.ticket hr {
	border: 5px solid #f1f1f1;
}


label{
	display: inline-block;
	width: 120px;
	text-align: left;
	margin-bottom: 20px;
	display: none;
	
}

.headerText{
	font-weight: 500;
	text-transform: uppercase;
}
/* Página Administración */

.track{
	width: 49.5%;
	height: 642px;
	float: left;
	margin-bottom: 10px;
	background-color: #ffffff;
	text-align: center;

	-webkit-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	-moz-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
}

.resumen{
	width: 49.5%;
	height: 642px;
	float: right;
	background-color: #ffffff;

	text-align: center;
	margin-bottom: 10px;
	margin-left: 0px;

	-webkit-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	-moz-box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);
	box-shadow: -13px 19px 8px -14px rgba(232,232,232,0.77);	
}
/*Botones y Formulario*/

.inputText {
	border: none;
	border-bottom: solid 2px #f1f1f1;
	margin-bottom: 10px;
	text-align: center;
	font-size: 15px;
}
.inputText:focus{
	outline:none;
	border-bottom: solid 2px #009688;
	transition: .5s;
	font-size: 15px;
	text-align: center;
}

input:placeholder-shown{
	font-size: 15px;
	text-align: center;
}
.button{
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-right: 20px;
	border: none;
	border-radius: 2px;
	background-color: #009688;
	padding-bottom: 4px;

	font-size: 12px;
	color:white;
	text-transform: uppercase;
	font-weight: 500;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	position: relative;
	
}

.button[type=reset]{
	background-color: #E53935;
}

.button:focus{
	outline: none;
}

.button:active{
	top: 3px;
	box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.buttonContainer{
	text-align:center;
}